<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >我的生活</div>
</ion-header-bar>
<ion-view>
    <ion-content>
      <div class="list card">
        <div class="item item-body">
          <img class="full-image" src="img/pic3.jpg" id="img" ng-click="magnify()">
          <h2 class="dm-nowrap-2">你好,梵高先生</h2>
        </div>
        <div class="item item-body">
          <p style="margin-top:0;">
          🌲我挑了几张图问老师哪个最简单噢,心想:"矮油,这回可以舒服拉,都是简单的。"
          </p>
          <p>
          老师瞄了几眼:"有点追求,这次你就画《星空》吧。"
          </p>
          <p>
          画了第一遍,说颜色错拉,重新来,再画第二遍,又说太跳跃了,不够沉稳拉,重新来……
          </p>
          <p>
            丝丝在画莫奈,一脸惆怅:"老师,帮我画下桥吧,我画歪了。"
          </p>
          <p>
            老师淡淡答道:"不行,自己选的画哭着也要画完的。"<br>我忍不住哈哈大笑,丝丝那个傻瓜选了最难的。
          </p>
          <p>
            "不要笑了,你也是。"
          </p>
        </div>
      </div>
    </ion-content>
</ion-view>
