<ion-slide-box active-slide="myActiveSlide"  auto-play="true" does-continue="true" id="ch-silde">
  <ion-slide>
    <div class="box ch-box1"></div>
  </ion-slide>
  <ion-slide>
    <div class="box ch-box2"></div>
  </ion-slide>
  <ion-slide>
    <div class="box ch-box3"></div>
  </ion-slide>
  <!--<ion-slide>-->
    <!--<div class="box ch-box4"></div>-->
  <!--</ion-slide>-->
</ion-slide-box>
  <a id="ch-myWebBtn" href="#/register">WEB前端</a>
<button class="button button-block  button-positive" id="ch-button1" ui-sref="register">
</button>
<button class="button button-block  button-assertive" id="ch-button2" ui-sref="login">
  我的小窝
</button>
