<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="back()">
        </button>
    </div>
    <div class="h1 title login-title" >WEB 技能</div>
</ion-header-bar>
<ion-content  has-bouncing="true" overflow-scroll="true" class="ion-content">
  <div class="login-mian">
    <div class="register-content">

      <div class="input-wrap row row-center mt-20 ch-web">
        1、精通HTML+CSS和W3C标准，掌握网站性能优化原理，解决在不同浏览器的兼容性问题；<br/>
        2、熟悉JavaScript、JQuery、AngularJS、Ionic、Bootstrap框架，Echarts插件实现常规Web效果开发；<br/>
        3、熟悉HTML5+CSS3，能够制作响应式、移动端页面，并解决Android、IOS不同手机的兼容性；<br/>
        4、熟悉Ajax数据交互，了解部分Java 后台语言，掌握SEO优化基本原则，注重前端用户体验和模块化；<br/>
        5、熟练使用DW、Sublime、Webstorm、Eclipse代码编写工具，及Photoshop、Fireworks、AI、Flash等图片处理软件,了解UI用户交互习惯。
      </div>

      <button class="button button-block  button-positive" ng-click="comfirm()">
        进入小窝
      </button>

    </div>

  </div>
    <!-- <div class="dm-date-picker" data-dateok="{{dateok}}" okcallback="enabledBook(day)" notokcallback="disabledBook(day)"></div> -->
</ion-content>
